In [3]:
import pandas as pd
import os
import matplotlib.pyplot as plt
import xml.etree.ElementTree as ET
import re

In [5]:
path = "/Users/rachel/Dropbox/5.Rachel-projects/Phylogeography/Lepto_assemblies_V2"

date_data = pd.read_csv(path + "/date/multiqc_quast.txt", sep="\t")
rest_data = pd.read_csv(path  + "/rest/multiqc_quast.txt", sep="\t")
picardeau_data = pd.read_csv(path + "/picardeau/quast/multiqc_quast.txt", sep="\t")
data = pd.concat([date_data,rest_data,picardeau_data],ignore_index=True,sort=False)

data["Sample"] = data["Sample"].str.split(" | ").str[0]
data_subset=data[["Sample","N50","# genomic features","# contigs","Genome fraction (%)"]]
data_subset

           Sample      N50  # genomic features  # contigs  Genome fraction (%)
0    SAMN03944914  28648.0              6933.0      319.0               94.552
1    SAMN03996887  28134.0              6940.0      316.0               94.553
2    SAMN03996952  29686.0              6935.0      309.0               94.537
3    SAMN03996955  28786.0              6936.0      317.0               94.530
4    SAMN03997006  26234.0              6930.0      320.0               94.528
..            ...      ...                 ...        ...                  ...
546  SAMEA5168341  72541.0              6649.0      123.0               91.191
547  SAMEA5168342  71561.0              6637.0      124.0               91.166
548  SAMEA5168343  68623.0              6633.0      125.0               91.067
549  SAMEA5168344  71252.0              6655.0      119.0               91.298
550  SAMEA5168345  44946.0              3465.0      157.0               93.168

[551 rows x 5 columns]

In [29]:
# filtered out low genome fraction isolates
genome_frac = data_subset[data_subset["Genome fraction (%)" ] > 70] 

low_map_picardeau = pd.read_csv(path+"/picardeau/quast/low_map_multiqc_quast.txt", sep="\t")

low_map_rest = pd.DataFrame(pd.read_csv(path + "/rest/low_map_multiqc_quast.txt",sep="\t"))

# concate re-quasted isolates from two datasets, excluding SAMN01919665
low_map = pd.concat([low_map_picardeau,low_map_rest],sort=False, ignore_index=True).loc[0:8,:]
low_map["Sample"]=low_map["Sample"].str.split(" | ").str[0]

low_map_subset = low_map[["Sample","N50","# genomic features","# contigs","Genome fraction (%)"]]

all_self_assemblies = pd.concat([genome_frac,low_map_subset], ignore_index=True, sort=False)
all_self_assemblies

,Sample,N50,# genomic features,# contigs,Genome fraction (%)
0,SAMN03944914,28648.0,6933.0,319.0,94.552
1,SAMN03996887,28134.0,6940.0,316.0,94.553
2,SAMN03996952,29686.0,6935.0,309.0,94.537
3,SAMN03996955,28786.0,6936.0,317.0,94.530
4,SAMN03997006,26234.0,6930.0,320.0,94.528
...,...,...,...,...,...
524,SAMEA5168202,94078.0,3607.0,105.0,89.657
525,SAMEA5168242,106977.0,3608.0,113.0,89.515
526,SAMEA5168266,31034.0,3485.0,1040.0,90.819
527,SAMEA5168337,45522.0,3511.0,157.0,94.218
528,SAMEA864166,25273.0,3494.0,345.0,87.095